<div class="Header">
    <div class="navbar navbar-expand-lg color-navbar navbar-custom">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_tra_cuu_don_hang.svg" alt="">Tra cứu đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_tim_cua_hang.svg" alt="">Tìm cửa hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_heart_header.svg" alt="">Yêu thích</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_dang_nhap.svg" alt="">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_gio_hang.svg" alt="">Giỏ hàng</a>
            </li>
        </ul>
    </div>
    <div class="container-fluide">
        <div class="row">
          <div class="col-2">
            <a href="#" class="logo-header"><img src="../../assets/images/icons/Logo_Ananas_Header.svg" alt=""></a>
          </div>
          <div class="col-7 fs-3 padding-top-custom menu-navbar-custom">
            <div class="col-3">
              <a href="" class="nav-link">SẢN PHẨM
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </div>
            <div class="line"></div>
            <div class="col-2">
              <a href="" class="nav-link">NAM
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </div>
            <div class="line"></div>
            <div class="col-2">
              <a href="" class="nav-link">NỮ
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </div>
            <div class="line"></div>
            <div class="col-3">
              <a href="" class="nav-link">SALE OFF
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </div>
            <div class="line"></div>
            <div class="col-3">
              <a href="" class="nav-link"><img src="../../assets/images/icons/DiscoverYOU.svg" alt=""></a>
            </div>
          </div>
          <div class="col-3 narbar-search-custom padding-top-custom">
            <form class="" action="">
                <!-- <img src="../../assets/images/icons/icon_tim_kiem.svg" alt=""> -->
                <input class="form-control serach-input-custom" type="text" placeholder="Tìm kiếm">
            </form>
          </div>
        </div>
        <div class="row row-custom-3 mt-4 p-3">
          <div class="col-4"></div>
          <div class="col-4 text-center fs-3"><a class="nav-link" href="">FREE SHIPPING VỚI HOÁ ĐƠN TỪ 900K !</a></div>
          <div class="col-4"></div>
        </div>
    </div>
</div>
