<div class="Header">
    <div class="navbar navbar-expand-lg color-navbar navbar-custom">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_tra_cuu_don_hang.svg" alt="">Tra cứu đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_tim_cua_hang.svg" alt="">Tìm cửa hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_heart_header.svg" alt="">Yêu thích</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_dang_nhap.svg" alt="">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white navbar-font-cus" href="#"><img class="p-3" src="../../assets/images/icons/icon_gio_hang.svg" alt="">Giỏ hàng</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="row">
            <a href="#" class="navbar-banrd"><img src="../../assets/images/icons/Logo_Ananas_Header.svg" alt=""></a>
        </div>
    </div>
</div>